body {
    color: purple;

    background-image: url('/image/background1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.app {
    width:300px;
    height:300px;
    background-color: white;
    opacity: 0.8; 
    /* position: absolute; */
    text-align: center;
    resize: both;
    overflow: auto;
    cursor: default;
    margin: auto;
    margin-top: 40px;
    
}
#wrapper{
    width: 300px;
    height: 340px;
    background-color: rgba(255, 23, 166, 0.6);
    position: absolute;
    text-align: center;
    resize: both;
    cursor: grab;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

input {
    border-radius: 7px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-resizer {
    border-radius: 30px 0px 0px 0px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 

}

.close {
    position: absolute;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    color: black;

}

.ikon {
    height: 50px;
    bottom: 10px;
    position: absolute;
}
.ikon:hover {
    background-color: blueviolet;
}

#memo {
    margin-left: 60px;
    position: absolute;
}

#tictac {
    margin-left: 120px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    
    opacity: 1;
    background-color: rgba(170, 15, 110, 0.6);
    
}
/* tictac style  */
td {
    border: 2px solid purple;
    height: 60px;
    width: 60px;
    font-size: 50px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -90px;
}
table tr:first-child td {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
}
table tr td:first-child {
    border-left: 0;
}

/* memo style  */
#pics img {
    width: 25%;
    }
    
.removed {
        visibility: hidden;
    }

 /* chat style */
#yourUsername {
margin: 0px;
    }
hr {
    height: 4px;
    background-color:  rgba(251, 17, 255, 0.24);
}
.messageArea {
    background-color: pink;
    border: 2px solid purple;
    resize: none;
}
.author {
    margin: 0px;
}
.myauthor{
    margin-left: 50%;
}
.othertext {
    margin: 0px;
    border: 2px solid purple;
    background-color: rgb(228, 112, 131);
    border-radius: 10px;
    display: block;
    overflow-wrap: break-word;
    margin-left: 0px;
    width: 50%;
    padding: 5px;
}
.mytext {
    margin: 0px;
    border: 2px solid purple;
    background-color: pink;
    border-radius: 10px;
    display: block;
    overflow-wrap: break-word;
    margin-left: 50%;
    padding: 5px; 
}
.message {
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 5px;  
}

