body {
    color: purple;

    background-image: url('/image/background1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.div2 {
    width:300px;
    height:300px;
    background-color: white;
    opacity: 0.8; 
    /* position: absolute; */
    text-align: center;
    resize: both;
    overflow: auto;
    cursor: default;
    margin: auto;
    margin-top: 40px;
    
}
#wrapper{
    width: 300px;
    height: 340px;
    background-color: rgba(255, 23, 166, 0.6);
    position: absolute;
    text-align: center;
    resize: both;
    cursor: grab;
}

button {
    cursor: pointer;
}
.close {
    position: absolute;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    color: black;

}

.ikon {
    height: 50px;
    bottom: 10px;
    position: absolute;
}
.ikon:hover {
    background-color: blueviolet;
}

#memo {
    margin-left: 60px;
    position: absolute;
}

#tictac {
    margin-left: 120px;
}

td {
    border: 2px solid purple;
    height: 60px;
    width: 60px;
    font-size: 50px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -90px;
}
table tr:first-child td {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
}
table tr td:first-child {
    border-left: 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    
    opacity: 1;
    background-color: rgba(170, 15, 110, 0.6);
    
}
#pics img {
    width: 100px;
    }
    
.removed {
        visibility: hidden;
    }

.messageArea {
    background-color: pink;
    border: 2px solid purple;
}

